// || utils

$kasa-red: #ff6060;
$kasa-light-grey: #f6f6f6;
$star-grey: #e3e3e3;

$font-fam: "Montserrat", sans-serif;

$normal: 400;
$semibold: 500;
$bold: 700;

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1280px) {
    @content;
  }
}

// || base - used on many pages

body {
  color: $kasa-red;
  margin: auto;
  margin-top: 40px;
  font-family: $font-fam;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $kasa-red;
}

.header {
  margin: 20px;
  max-width: 1240px;
  @include for-desktop-up() {
    margin: auto;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex;
    gap: 10px;
    @include for-tablet-portrait-up {
      gap: 57px;
    }
  }
  &__navlink {
    font-size: 0.8rem;
    font-weight: $semibold;
    color: #ff6060;
    text-decoration: none;
    text-transform: uppercase;
    @include for-tablet-portrait-up {
      text-transform: unset;
      font-size: 1.5rem;
    }
  }
}

.footer {
  height: 209px;
  width: 100%;
  font-size: 0.8rem;
  @include for-tablet-portrait-up {
    font-size: 1.5rem;
  }
  font-weight: $semibold;
  color: white;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.main {
  margin: 20px;
  max-width: 1240px;
  @include for-desktop-up() {
    margin: 25px auto;
  }
}

.underline {
  text-decoration: underline;
}

.banner {
  position: relative;
  height: 223px;
  &--home {
    @include for-phone-only() {
      height: 111px;
    }
  }
  overflow: hidden;
  margin-block: 16px 22px;
  border-radius: 10px;
  @include for-tablet-portrait-up {
    margin-block: 63px 43px;
    border-radius: 25px;
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
  &__text-overlay {
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: $semibold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-tablet-portrait-up {
      font-size: 3rem;
    }
  }
}

.dropdown {
  margin-top: 20px;
  @include for-tablet-portrait-up {
    width: 80%;
    margin: 30px auto;
  }
  &__title {
    background: $kasa-red;
    color: white;
    font-size: 0.8rem;
    font-weight: $semibold;
    padding: 6px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-tablet-portrait-up {
      font-size: 1.5rem;
      padding: 6px 18px;
      border-radius: 10px;
    }
  }
  &__content {
    background: $kasa-light-grey;
    color: $kasa-red;
    font-size: 0.75rem;
    padding: 10px 10px;
    border-radius: 5px;
    line-height: 1.1rem;
    @include for-tablet-portrait-up {
      font-size: 1.5rem;
      padding: 18px 18px;
      line-height: 2rem;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}

.arrow-up {
  transform: rotate(-90deg);
  @include for-tablet-portrait-up() {
    transform: rotate(-90deg) scale(1.8);
  }
}

.arrow-down {
  transform: rotate(90deg);
  @include for-tablet-portrait-up() {
    transform: rotate(90deg) scale(1.8);
  }
}

.hidden {
  display: none;
}


// || Home page

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  @include for-tablet-portrait-up {
    background: $kasa-light-grey;
    border-radius: 25px;
    padding: 50px;
    gap: 50px;
  }
}

.thumbnail {
  position: relative;
  overflow: hidden;
  width: 335px;
  height: 255px;
  @include for-tablet-portrait-up() {
    width: 340px;
    height: 340px;
  }
  &__image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title-overlay {
    position: absolute;
    color: white;
    font-size: 1.15rem;
    font-weight: $semibold;
    margin: 0;
    padding: 16px;
    vertical-align: bottom;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    display: flex;
    align-items: flex-end;
  }
}



// || Logement page

.carrousel {
  position: relative;
  height: 255px;
  @include for-desktop-up() {
    height: 415px;
  }
  border-radius: 10px;
  overflow: hidden;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__controls {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
      margin: 10px;
      @include for-tablet-portrait-up() {
        transform: scale(4);
        margin-inline: 32px;
      }
    }
  }
}



.logement-title {
  font-size: 1.1rem;
  font-weight: $semibold;
  @include for-tablet-portrait-up() {
    font-size: 2.1rem;
  }
}

.logement-location {
  font-size: 0.9rem;
  font-weight: $semibold;
  @include for-tablet-portrait-up() {
    font-size: 1.1rem;
  }
}

.tag {
  font-size: 0.8rem;
  display: inline-block;
  background: $kasa-red;
  color: white;
  border-radius: 5px;
  padding: 5px 30px;
  margin: 0 10px 10px 0;
  @include for-tablet-portrait-up() {
    font-size: 1rem;
    border-radius: 10px;
  }
}

.logement-info {
  display: flex;
  flex-direction: column;
  @include for-tablet-portrait-up() {
    flex-direction: unset;
    justify-content: space-between;
  }
  &__section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-tablet-portrait-up() {
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: flex-end;
    }
  }

}

.star {
  margin: 2px;
  font-size: 1rem;
  @include for-tablet-portrait-up() {
    margin: 5px;
    font-size: 1.9rem;
  }
  &--grey {
    color: $star-grey;
  }
}


.host {
  display: flex;
  align-items: center;
  gap: 10px;
  &__name {
    font-size: 0.9rem;
    font-weight: $semibold;
    @include for-tablet-portrait-up() {
      font-size: 1.1rem;
    }
  }
  &__picture {
    width: 2rem;
    border-radius: 50%;
    @include for-tablet-portrait-up() {
      width: 4rem;
    }
  }
}

@include for-tablet-portrait-up() {
  .logement-dropdowns {
    display: flex;
    gap: 76px;
    .dropdown__title, .dropdown__content {
      font-size: 1.1rem;
      line-height: 1.7rem;
    }
  }
}


// || Error 404 page

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 6rem;
    font-weight: $bold;
    margin-top: 6rem;
    margin-bottom: 11px;
    @include for-tablet-portrait-up {
      font-size: 18rem;
    }
  }
  &__detail {
    margin-top: 0px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: $semibold;
    @include for-tablet-portrait-up {
      font-size: 2rem;
    }
  }
  &__link-home {
    margin-block: 133px;
    font-size: 1rem;
    font-weight: $semibold;
    @include for-tablet-portrait-up {
      font-size: 1.15rem;
    }
  }
}